
<!--/ End Header -->
<style>
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Muli-Regular";
  font-size: 14px;
  margin: 0;
  color: #999; }

input, textarea, select, button {
  font-family: "Muli-Regular"; }
img {
  max-width: 100%; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0eeee; }

.inner {
  position: relative;
  width: 435px; }

.image-1 {
  position: absolute;
  bottom: -12px;
  left: -191px;
  z-index: 99; }

.image-2 {
  position: absolute;
  bottom: 0;
  right: -129px; }

form {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 77px 61px 55px 66px ;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Muli-SemiBold";
  color: #333;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px; }

.form-holder {
  position: relative;
  margin-bottom: 15px; }

  .form-control:focus {
    border: 1px solid #fd8252; }

button {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #fd8252;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }

button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(241, 117, 1, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  button:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  button:hover:before, button:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }


@media (max-width: 767px) {

  .image-1, .image-2 {
    display: none; }

  form {
    padding: 35px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: none; } }
  #login:hover{
     opacity: .5;
  }
</style>
<div class="wrapper">
  <div class="inner">
    <img src="../../assets/images/image-1.png" alt="" class="image-1">
    <form #loginForm="ngForm" >
      <h3>Login</h3>
      <div class="form-holder">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control"  [class.is-invalid]="username.invalid && username.touched " [class.is-invalid]="username.invalid && username.touched " required #username="ngModel" [(ngModel)]="loginuser.username" name="username">
        <small class="text-danger"[class.d-none]="username.untouched || username.valid">User Name is required</small>
      </div>
      <div class="form-holder">
        <label class="form-label">Password</label>
        <input type="password" class="form-control"  [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="loginuser.password" name="password" >
        <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
      </div>
      <button (click)="onSubmit(username.value,password.value)" [disabled]="!loginForm.valid" >Login</button>
      <br>
      <div class="text-center"><span>If you Don't have account 
        <a routerLink="/Register"  style="text-decoration: underline; color:rgb(61, 92, 179) ;padding-left: 10px;" > Sign Up </a></span></div>
    </form>
    <img src="../../assets/images/image-2.png" alt="" class="image-2">
  </div>
  
</div>